@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
body{
    font-family: 'Josefin Sans', sans-serif;
}
.top-margin{
    margin-top: 5% ;
}
.heading{
    font-family: "Algerian";
    font-size: 50px;
}
.section-padding{
    padding: 1%;
    background-color: #2f496e;
    color: antiquewhite;
    text-align: center;
}
.mycard-background{
    padding: 1%;
    background-color: #063852;
    color: #ffffff;
    text-align: center;
}
.on-page{
    background-color: #063852;
  }

.full-screen{
    background-size: cover;
}

.mycard{
    position: absolute;
    transform: translate(-50% , -50%);
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.mycard .front{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;

}
.mycard:hover .front{
    transform: rotateX(-180deg);
}
.mycard .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    
}
.mycard:hover .back{
    transform: rotateX(0deg);
}
.mybackground{
    background-image: url("background111.jpg");
    background-size: cover;
    background-position: center;
}
.transparent{
    opacity: 0.9;
}
.myul{
    list-style-type:disc
}
.litext{
    font-size: 20px;
    color: #ffffff;
}
.hr-prop{
    margin-top: 30px;
}
.mbimg{
    border : 2px solid;
}
.specs1{
    font-size: 30px;
    color : black;
    background: linear-gradient(90deg,#e3f2fd,#42a5f5);
}
.specs11{
    font-size: 30px;
    color : black;
    background: linear-gradient(90deg,#e3f2fd,#42a5f5);
}
.specs22{
    font-size: 30px;
    color : black;
    background: linear-gradient(270deg,#e3f2fd,#42a5f5);
}
.specs2{
    font-size: 30px;
    color : #000000;
    background: linear-gradient(180deg,#fffde7,#fff176,#ffeb3b);
    font-size: 20px;
}
.specs111{
    font-size: 30px;
    color : #000000;
    background: linear-gradient(180deg,#fffde7,#fff176,#ffeb3b);
    font-size: 20px;
}
.specs222{
    font-size: 30px;
    color : #000000;
    background: linear-gradient(180deg,#fffde7,#fff176,#ffeb3b);
    font-size: 20px;
}

.wrap {
  margin-top: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0.3em;
  padding: 1.2em 4em;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border: none; 
  font-size: 15px;
  text-align: center;
}

.button:hover {
  background-color:#063852;
  color: white ;
  font-family:  Maiandra GD;
  box-shadow: 0 2px 10px rgba(0,0,0,0);
}

.button {
    background-color: #eceff1 ;
    color: black;
    box-shadow: 0 2px 10px rgba(0,0,0,0);
    border-style: solid;
    border-width: 2px;
    font-family:  Maiandra GD;
 
}

.aboutus{
    background-image: url("background111.jpg");
    background-size: cover;
    border-style: solid;
    border-right: 3px;
}

.card-mybackground{
    background-color: #011a27;
}

.ex3 {
    background-color: lightblue;
    width: 110px;
    height: 110px;
    overflow: auto;
}
.container1{
    width: 500px;
    clear: both;
}

.container1 input{
    width: 100%;
    clear: both;
    height: 25px;
}

ul{
    list-style: none;
}
ul li{
    float:left;
    width:100px;
    height:65px;
    line-height: 65px;
    text-align: center;
    font-size: 20px;
}
ul li a {
    text-decoration: none;
    color : white;
    display: block;
}

ul li ul li {
    display : none;
    background-color: #2f496e;
}
ul li:hover ul li{
    display : block;
    
}

.containersignup{
  background: #2f496e;
  padding: 20px 25px;
  border: 3px solid black;
  width: 550px;
  margin-left: 400px;
  height: auto;
  box-sizing: border-box;
  position: relative;
  color: white;
  opacity: 0.9;

}

.containerlogin{
  background: #2f496e;
  padding: 20px 25px;
  border: 3px solid black;
  width: 550px;
  margin-left: 400px;
  height: auto;
  box-sizing: border-box;
  position: relative;
  opacity: 0.9;

}


.signupbg{
    background-image: url("signup.jpg");
    background-size: cover;
}

input::placeholder{
    color:black;
    opacity: 1;
}


.spec:hover{
    opacity: 0.7;
}



input[type=submit]{
    background-color: #eceff1 ;
    color: black;
    font-size: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0);
    border-style: solid;
    border-radius: 25px;
    height: 50px;
    width: 120px;
    border-width: 2px;
    font-family:  Maiandra GD;
    margin-left: 400px;
    margin-bottom: 30px;
}

input[type=submit]:hover{
  background-color:#2f496e;
  color: white ;
  font-family:  Maiandra GD;
  cursor: pointer;
}




